[2021-09-30 09:41] JakobTischler opened #1 "v1.29.0 causes the Extension Host to crash"
Hi,

* VSCode: 1.60.2
* Extension: 1.29.0
* OS: Windows 10.0.19043 x64

After starting VSCode, the error message "Extension host terminated unexpectedly" appears, with an option to restart it. After restarting it, it terminates again after a few seconds.

From the window log:
`[2021-09-30 11:26:03.284] [renderer1] [error] Extension host terminated unexpectedly. The following extensions were runnin

[2021-10-12 18:35] lgrammel opened #2 "Notification test"
test

[2021-10-12 18:36] #2 closed, assigned to nobody

[2021-10-19 19:27] JakobTischler commented on #1
Just wanna confirm it's working alright again. Thanks.

[2021-10-19 19:30] lgrammel commented on #1
Perfect, thanks for confirming 👍🏻

[2021-10-25 05:51] franck-paul opened #3 "push-operator-into-assignment error"
I got this message “Can push + operator into += assignment.” for this line of code:

[code]

The proposed replacement is (which is marked as **safe**):

[code]

Which is **not** the same as I which to put `excerpt` **before** `content` in resulting `content` variable.

[2021-10-25 07:03] #3 closed, assigned to nobody

[2021-11-05 22:46] jheer opened #4 "Bug with return statement suggestions"
I found an example in the Arquero codebase where P42 makes buggy suggestions marked as "safe". The simplified snippet below involves a series of if-statement fallthroughs that can update the `ast` variable. P42 (correctly) notes that the assignment in the `if(obj.window)` branch can be replaced with a return statement. But afterward it continues suggesting similar replacements for other assignment

[2021-11-06 10:37] lgrammel commented on #4
Thanks for the bug report!

I've just released version 1.50.3, which fixes this issue. Please re-open this issue if you still encounter the bug in 1.50.3 or higher.

[2021-11-06 10:37] #4 closed

[2021-11-10 08:05] chandan192 opened #5 "Showing wrong hint for inline-return"
Original code:

        public replaceVariables(path: Path, variables: { [key: string]: string }) {
            const me = this;
            let newPath;

            newPath = me.resolvePath(path);

            Object.keys(variables).forEach((variable: string) => {
                newPath.replace('{' + variable + '}', variables[variable]);
            });

            return newPath;
        }

!

[2021-11-10 08:20] lgrammel commented on #5
Thanks for the detailed bug report! I'll update once I have a fix.

[2021-11-10 09:16] lgrammel commented on #5
@chandan192 I just released version 1.50.5, which fixes the bug. Please re-open this issue if you still encounter the bug 1.50.5 or higher. Thanks again for the bug report!

[2021-11-10 09:16] #5 closed

[2021-12-06 17:40] chandan192 opened #7 "Convert if-else to conditional expression does not works with this.var"
`let x;
    if (me.isEnabledColumnFilter === true) {
     x = 'Disable Filters';
    } else {
      x = 'Enable Filters';
    }`

Here, refactoring works perfectly and yield result is

` let x;
    x = me.isEnabledColumnFilter === true ? 'Disable Filters' : 'Enable Filters';`

But, the linting is not shown with **this** keyword. Below is the code.

`if (this.isEnabledColumnFilter === true) {

[2021-12-06 17:45] lgrammel commented on #7
Thanks for the suggestion!

I will see if I can integrate it in one of the next releases.

[2021-12-06 19:10] lgrammel commented on #7
The feature is implemented and will be included in the next release.

[2021-12-07 12:35] lgrammel commented on #7
@chandan192 I've just released version 1.57.0, which supports your suggested improvement. Please re-open if you still cannot run the refactoring on version 1.57.0 or higher. Thanks for the suggestion!

[2021-12-18 16:48] chandan192 opened #8 "Support to convert if-else if to switch case."
Can we have an option to convert if else if to switch case?

I am using tslint but it only shows the linting but does not refactors it.

[2021-12-19 09:18] lgrammel commented on #8
Thanks, great idea! Converting if-else to switch has been on my list for a while. Do you have a reference to the lint rule? The conversion only makes sense in certain cases.

[2021-12-19 09:46] chandan192 commented on #8
![image](https://user-images.githubusercontent.com/36302444/146670521-2d288d9a-c28f-4799-a575-c5f6e70d3bde.png)

Please see this image for reference.

[2021-12-19 20:18] lgrammel commented on #8
@chandan192 I've just released version 1.61, which supports converting if-else to switch. Thanks for the suggestion!

[2021-12-20 18:04] chandan192 opened #9 "convert-to-for-of-loop / convert-to-foreach-loop linting and refactoring not working."
Hi @lgrammel,
Linting for convert-to-for-of-loop / convert-to-foreach-loop is not showing. Also, no refactoring option is available for to convert simple for loop to for-of loop.

![image](https://user-images.githubusercontent.com/36302444/146812318-c71d329c-161b-4c31-9820-30058615c7d3.png)

[2021-12-20 18:17] lgrammel commented on #9
Hi @chandan192 - thanks for the bug report. I was able to reproduce the issue and will look into a fix.

[2021-12-20 18:22] lgrammel commented on #9
This is because `record[i]` is inlined. If you extract it into its own variable, the refactoring will become available. I'll look into extending the refactoring, so that the extraction is not necessary.

[2021-12-27 11:34] chandan192 commented on #8
Hi @lgrammel,
converting if-else to switch case does not work for the inlined variables.

Please see the snap below for reference.
![image](https://user-images.githubusercontent.com/36302444/147467924-58650186-aac2-4610-bffc-6b8b46cc285a.png)

[2021-12-27 11:54] chandan192 commented on #8
Hi @lgrammel,
Hope you are doing well.

refactoring if-else to switch case doesn't work for if condition with && or || operation.

![image](https://user-images.githubusercontent.com/36302444/147469477-be92f4ab-c16d-4f91-adf6-c48b71a3420a.png)

[2021-12-27 12:00] chandan192 commented on #7
Hi @lgrammel,
converting if-else to conditional expression is not working for the below case.

![image](https://user-images.githubusercontent.com/36302444/147469870-12058e3c-7270-4ff2-b232-62e7c2041819.png)

[2021-12-27 12:03] lgrammel commented on #8
@chandan192 thanks for the bug report. I'll look into adding support for `||`. It is not clear to me how to translate `&&` into a switch, do you have an example?

[2021-12-27 12:12] chandan192 commented on #8
@lgrammel, you are right, I didn't think of the condition with **&&**. But we can have support for **||**.

[2021-12-27 13:30] lgrammel commented on #7
Hi @chandan192 - thanks for the bug report. I'll look into it.

[2021-12-27 14:12] lgrammel commented on #8
Fixed in 1.64.2 - thanks for the bug report!

[2021-12-27 14:12] #8 closed

[2021-12-27 14:12] lgrammel commented on #7
Fixed in 1.64.2 - thanks for the bug report!

[2021-12-27 14:12] #7 closed

[2022-01-15 03:07] trasherdk opened #10 "Feature: global/user configuration"
While I really enjoy this extension, the inability to disable something like `Add Numeric Separator` without polluting upstream repositories with my personal preferences, kinda annoy me.

Being able to configure stuff like that in VS Code User settings would help.

On a side note: As per [p42 configuration](https://p42.ai/documentation/p42-for-vscode/configuration)

Adding a `p42.toml` to `.gitign

[2022-01-15 08:19] lgrammel commented on #10
Thanks for the feedback.

The TOML configuration issue is a bug. I'll work on a fix today.

The VS Code settings are something I'm considering. However they can potentially conflict with the `p42.toml` configuration, which is why I haven't added them yet. In particular, cases where a user has multiple workspaces and the `p42.toml` (team/repository oconfiguration) sets certain refactorings `true` i

[2022-01-15 09:13] lgrammel commented on #10
I just looked deeper into the `p42.toml` configuration issue that you reported. While the configuration does not get immediately applied when you edit `p42.toml`, it does refresh once the file is edited or reloaded. As a work-around, you can just (with the refactoring being disabled in the `p42.toml`) add and remove a space in the file you are editing and the suggestions should update (in your cas

[2022-01-15 15:07] lgrammel commented on #10
@trasherdk I've just released version 1.68.2. It automatically updates the hints in open editors when `p42.toml` is saved. Please let me know if you still encounter the bug in version 1.68.2 or higher. Thanks again for the bug report!

[2022-01-15 15:22] lgrammel commented on #10
@trasherdk I also noticed a small typo in your `p42.toml`: the setting is called `enabled` (not `enable`).

[2022-01-16 02:51] trasherdk commented on #10
Damn.. That's embarrassing :blush: A typo in the config.
So, it turns out, I was the bug.

It looks like extensions are auto updating, as I'm already on `1.68.2` and with the fixed typo all is good.

I would still love to see config in user settings, avoiding that `p42.toml` file.

In the case where a project already has `p42.toml` config, that config should override users personal preferences.

[2022-01-16 11:26] lgrammel commented on #10
It happens to the best of us 😊  ideally, the content of `p42.toml` would get validated, and there would be syntax errors while editing, but that's a pretty lousy effort/value ratio, thus not a priority.

Regarding the user settings, I like your approach of having the project config override the user preferences way better than my original idea. That way, projects could easily enforce their setting

[2022-01-16 12:07] trasherdk commented on #10
Thank you for a useful tool, and looking forward to that settings feature.

I'm closing this a resolved :+1:

[2022-01-16 12:07] #10 closed

[2022-01-20 13:46] lgrammel commented on #9
Hey @chandan192 - I finally got around to implementing your idea. It is available in version `1.71.0` and higher. Thanks for the suggestion!

[2022-01-20 13:46] #9 closed

[2022-01-21 15:03] lgrammel commented on #10
@trasherdk I've added the VS Code settings in `1.72.0`. Here is a quick overview: https://twitter.com/p42ai/status/1484541693324111874

[2022-01-23 12:13] trasherdk commented on #10
That is so cool :+1:  I just got the updated plug-in :smile:
This is one of the more useful tools in the arsenal.

[2022-01-29 15:19] mjunker opened #11 "Feature: Exclude directories from mass refactorings"
Hello

Is it possible to exclude some directories from mass refactorings? I only found a way to exclude files by adding the annotation but ignore entire folders does not seem to be possible?

Thanks

[2022-01-29 15:27] lgrammel commented on #11
Hi @mjunker ,

right now this is not possible - they best approach would be to run the mass refactoring on the subfolders that should be included (e.g. `src`).

That being said, this is a high-priority feature that I want to implement in the next weeks. Right now I'm trying to understand the different use cases better to come up with a good first implementation (since changing configs is always a

[2022-01-29 15:36] mjunker commented on #11
Hey

Thanks for your reply. Will try this.

Yeah I would like to exclude dist folders and node_modules mainly, but also have a project where I have to commit some third party code into the repo which I don't want to touch. Also generated configuration files I probably would want to exclude. I'm working with a Nx Monorepo which doesn't have a single src folder, but multiple top level folders, which

[2022-01-29 16:07] lgrammel commented on #11
Thanks! Right now I'm thinking the following solution might work:

In `p42.toml` (to keep the number of config files low):
[code]

This would affect both mass refactorings and in-editor refactoring suggestions (which would not be shown for the excluded files).

Would this solution work for you?

[2022-01-29 16:44] mjunker commented on #11
Yes sounds great!

[2022-01-30 14:44] lgrammel commented on #11
Hi @mjunker - I've implemented the feature in version `1.78.0`. Please re-open this issue if the solution doesn't work for you.

Thanks again for the suggestion!

[2022-01-30 14:44] #11 closed

[2022-01-31 06:09] chandan192 opened #12 "Issue with Push-Parameter_Into_IIFE"
Hi @lgrammel ,

Please refer the below snaps for the issue.

Before refactoring
-------------------------
![image](https://user-images.githubusercontent.com/36302444/151746691-3d2aaceb-7a9e-42c6-9382-ab35a8eba6e8.png)

After refactoring
-------------------------
![image](https://user-images.githubusercontent.com/36302444/151746741-a5f6084f-d2ee-4ab8-af1f-3fb59b5a27cb.png)

check for the index vari

[2022-01-31 08:24] lgrammel commented on #12
Thanks for the bug report! I'll look into fixing this asap.

[2022-01-31 08:38] lgrammel commented on #12
@chandan192 I just released version `1.78.1`, which fixes the bug. Please re-open this issue if you still encounter the bug `1.78.1` or higher. Thanks again for the bug report!

[2022-01-31 08:38] #12 closed

[2022-02-11 09:41] ciruz opened #13 "Convert to template string issue"
Hey,
I noticed a error when refactoring this code:

[code]

![image](https://user-images.githubusercontent.com/987947/153569006-c9c44370-0368-437b-936d-23edbb2acfcb.png)

Result:

[code]

Best,
Tom

[2022-02-11 09:51] lgrammel commented on #13
Hi Tom,

thanks for the bug report. This looks like a refactoring that comes with VS Code (built-in), not P42. P42 refactorings have a '[P42]' at the end of the action label in the context menu. If this is a P42 refactoring, please re-open the issue.

Best, Lars

[2022-02-11 09:51] #13 closed

[2022-02-11 10:56] ciruz commented on #13
Oh, you are right, P42 does it right but vscode not.

[2022-02-11 11:15] lgrammel commented on #13
Awesome, thanks for confirming!

[2022-02-23 19:35] pru-brennaveen opened #14 "Extension doesn't show any hints"
Suggestions don't appear to be working in my vscode for some reason.  I've put in some code that I know should trigger a refactor suggestion, but no suggestions appear on the code or the suggestions sidebar.  I tried uninstalling and reinstalled and all of the suggestions settings are set to hint.

Does anyone have any suggestions on how I can fix this?

**P42**
v1.86.0

**VScode**
Version: 1.64.2

[2022-02-23 21:16] lgrammel commented on #14
Thanks for the bug report!

Can you try the following example?

[code]

It should show up as follows:
![image](https://user-images.githubusercontent.com/205036/155409520-f01255cd-a740-4dd8-a667-15267e17b4bc.png)

The 3 dots under `let` are the suggestion indicator. Does it show for you?

Btw, in v1.86.0 the default suggestion level was changed from `info` (blue squiggly underline) to `hint` (3 dot

[2022-02-23 21:21] pru-brennaveen commented on #14
No joy :(

![image](https://user-images.githubusercontent.com/99521585/155410456-67f07095-a868-46c6-8572-fbff0799ef28.png)

The red squiggle on f is just eslint complaining that f is not defined.

[2022-02-23 21:43] lgrammel commented on #14
Do you have a `p42.toml` in the root folder of your workspace? If so, please check if the refactoring is deactivated there (see https://p42.ai/documentation/p42-for-vscode/configuration#configuration-file for details, specific paths and/or refactorings could be disabled).

If not, can you set `"p42.logging.error.enabled": true` in your VS Code settings, restart VS Code, open the file that should s

[2022-02-23 21:51] pru-brennaveen commented on #14
I don't have a p42.toml file so no worries there.

I added the setting (although vscode greys it out saying "Unknown Configuration Setting") and restarted vscode.  There was nothing logged to the output panel.

The extension appears to be working because vscode shows that it had a 153ms activation time.

[2022-02-23 22:37] lgrammel commented on #14
Thanks for checking! The "unknown configuration setting" is expected (the options are not exposed in the UI).

Just to make sure I'm not missing anything, what is the extension of the JavaScript file that you are working on?

P42 only works with certain extensions such as `.js`, `.ts` or `.mjs` (see https://p42.ai/documentation/p42-for-vscode/faq for all extensions).

[2022-02-23 22:55] pru-brennaveen commented on #14
It is a .js file, but I think I've narrowed down the problem.  It appears that the issue is related to multiple folders in the workspace.  I created a test.js file with your code and saved it to a folder called p42-tests then ran the following tests:

**Test 1**
1. Open folder with vscode
2. P42 suggestions visible
3. Save workspace
4. Close and re-open workspace
5. Suggestions still visible

**Te

[2022-02-24 07:32] lgrammel commented on #14
Thanks for the investigation! I'll take a look at the multiple folders issue today and see if I can confirm & fix it.

[2022-02-24 08:51] lgrammel commented on #14
Update: I have reproduced the issue, now working on a fix.

[2022-02-24 10:05] #14 closed

[2022-02-24 14:02] pru-brennaveen commented on #14
Works!  You are awesome, thanks for the super quick response and a great addon!

[2022-02-24 17:33] lgrammel commented on #14
Thanks! I hope you find the extension helpful!

[2022-03-01 09:31] skt-t1-byungi opened #15 "inline refactor bug in jsx"
[code]

If the `handleClick` function is refactored inline, the output is as follows. (`<`,`t` is repeated twice )

[code]

[2022-03-01 09:43] lgrammel commented on #15
Thanks for the bug report!

I've tried the example that you have provided and inlining `handleClick` works for me:

https://user-images.githubusercontent.com/205036/156144750-bcd79465-0bb1-4dfa-ab82-bce60e9aca23.mov

Which P42 version are you using? Were there any syntax errors in the file that you were refactoring?

[2022-03-01 10:22] skt-t1-byungi commented on #15
![d2](https://user-images.githubusercontent.com/16894698/156148198-08a1ef15-2dc1-4527-8eca-b95ae4335e7a.gif)
The version is 1.86.1.
I tested with the same code.
I am windows os and I use many other extensions as well.
(I'm busy, I'll test later by deleting other extensions. 😅)

[2022-03-01 10:50] lgrammel commented on #15
Thanks, I was able to reproduce it. It is caused by the `\r\n` end of line sequence under windows. I will prepare a fix.

[2022-03-01 11:34] lgrammel commented on #15
@skt-t1-byungi  I have just released version `1.86.2`, which fixes the bug. Please re-open this issue if you still encounter the bug in `1.86.2` or higher. Thanks again for the bug report!

[2022-03-01 11:34] #15 closed

[2022-04-30 05:50] verccety opened #16 "Optional chaining conversion issue"
P42 tooltip  **(v1.101.1)**

[code]

P42 suggests incorrectly to convert into
[code]

[2022-04-30 08:40] lgrammel commented on #16
Thanks for the bug report! I'll update once I have a fix.

[2022-05-03 13:07] chandan192 opened #17 "Inline occurence issue"
Previous Code
`   const temp3 = [];
        temp3[0] = temp1;
        temp3[1] = temp2; `

![Uploading image.png…]()

After refactoring
` [][0] = temp1;
        [][1] = temp2; `

[2022-05-03 13:35] lgrammel commented on #17
Thanks for the bug report! I'll update when I have a fix.

[2022-05-03 14:04] lgrammel commented on #17
Hey @chandan192 - I agree that inlining here does not make sense, and you would typically not invoke it.

However, I'm not sure I understand what the issue with the refactoring is? The resulting code compiles and executes for me, and it indeed the expected result of an inline operation on temp3.

What would you expect to happen instead?

[2022-05-04 12:42] lgrammel commented on #16
@verccety I've reworked the optional chaining refactoring in v1.103.0 and fixed the bug. Please re-open this issue if you still encounter the bug in v1.103 or higher. Thanks again for the bug report!

[2022-05-04 12:42] #16 closed

[2022-05-04 12:59] chandan192 commented on #17
Hi @lgrammel,
I was just experimenting with the refactoring using p42 and tslint. I got the p42 refactoring suggestion on the context menu.
`Inline 2 occurrences [p42]`

I also checked the p42 suggestion on the activity bar but there was no suggestion. It was only on the manual context menu refactoring.

[2022-05-04 15:04] lgrammel commented on #17
I see - in this case it was not a 'suggestion' (an in, P42 recommended), but it showed up in the quickfix menu. I'll add a warning similar to what is shown for new Objects.

[2022-05-05 10:06] lgrammel commented on #17
I've made a couple of improvements in `v1.103.1` to address this issue:
- inline variable warns you about inlining literals that are used in multiple places
- inline variable is only availalbe as a quickfix when it is a suggestion, otherwise you need to use the refactor or inline context menus / shortcuts

Thanks for the bug report!

[2022-05-05 10:06] #17 closed

[2022-05-25 17:43] hediet opened #18 "Refactoring Idea: Use variable for expressions"
It would be awesome to have a refactoring that can replace expressions with a variable.

In this screenshot, I would like to replace all occurences of `flip(sourceNmbr)` with `targetNmbr`:

![image](https://user-images.githubusercontent.com/2931520/170288059-02ea9ca0-52b3-46af-ae5a-f00047ef22de.png)

[code]

This would basically be the second step after extracting a constant.

[2022-05-25 19:07] hediet opened #19 "Refactoring Idea: Early Return and Back"
[code]

<=>

[code]

[2022-05-25 20:06] lgrammel commented on #18
Awesome, thanks for sharing the refactoring idea! This is somewhat similar to extract so it should be doable. How would you imagine the interaction, i.e. where would you want to trigger the refactoring?

[2022-05-25 20:09] lgrammel commented on #19
Thanks for sharing! This refactoring can already be achieved by a combo:
1.  Invert if condition (on `c.scrollTopChanged`)
2. Remove unnecessary else (on `else`)

I agree it would be nicer to do it in one step. I'll think about how to do that best.

[2022-05-25 20:27] lgrammel commented on #18
Just realized that this is also already possible with a refactoring combo:
1. Extract variable with `flip(sourceNumber)` into e.g. `targetNumber2`
2. Inline variable `targetNumber`
3. Rename `targetNumber2` to `targetNumber`

[2022-05-30 10:05] hediet opened #20 "Duplicated Add Braces To Arrow Function"
![image](https://user-images.githubusercontent.com/2931520/170969090-489ee573-3d17-40a5-8e53-2a5b61c7b455.png)

One is from p42, the other from TypeScript

[2022-05-30 10:13] lgrammel commented on #20
There is some overlap between the refactorings that P42 offers and the refactorings that are built into TypeScript.

What UX would you ideally expect here?

[2022-05-30 10:21] hediet commented on #20
You can implement a typescript language service plugin to disable the TypeScript refactoring.

I would expect to not suggest the same refactoring twice.

[2022-05-30 10:29] lgrammel commented on #20
I agree, seeing the same refactoring twice is not great. I'm a bit hesitant to disable functionality provided by TS or to affect their language service from the P42 extension (which can cause stability issues, especially when they upgrade to different versions).

Maybe I'll implement it as a separate open source companion extension where you can selectively disable some TypeScript refactorings. Wo

[2022-05-30 10:55] hediet commented on #20
I would ship it with the same extension. You can still add settings to disable it.

The default experience should be a good one, seeing the same refactoring twice is not good.

If you can't or don't want to disable the TypeScript "Add braces to arrow function", you could disable P42's refactoring "Add {...} to arrow function" instead.

[2022-05-30 11:09] lgrammel commented on #20
I'll think about how to best do this, maybe there are other options as well. Disabling the P42 refactoring is safer, it might be a preferrable default option.

[2022-05-31 15:14] #19 closed

[2022-06-01 12:14] hediet opened #21 "Code Action Idea: Parallelize Awaits"
[code]

<->

[code]

[2022-06-01 13:22] lgrammel commented on #21
Thanks for the suggestion! What "dependencies" are you referring to here?

[2022-06-01 13:45] hediet commented on #21
For example in this case:
[code]

[2022-06-03 08:08] hediet opened #22 "Only suggest "Move initialization into constructor" when on the `=` sign, not in the entire expression."
![image](https://user-images.githubusercontent.com/2931520/171814848-596c71fa-8f3e-4ef3-a2f9-65fa97b9fe35.png)

[2022-06-03 08:27] lgrammel commented on #22
Thanks for reporting! I'll probably keep the activation on the left side of the expression as well (`=` might be too small), so you could activate the refactoring on `this.aVariable = `, but not on the right hand side. Would that work for you?

[2022-06-03 09:06] hediet opened #23 "Code Action: Initialize field from constructor"
![image](https://user-images.githubusercontent.com/2931520/171824248-f58e9b3f-68c9-4c70-b0e6-ab6bdfb605d6.png)

This should generate a constructor if there is none and add a parameter.
Alternatively, what I would actually prefer, it uses `constructor(public editorWorkerService: ...)`.

[2022-06-03 09:16] lgrammel commented on #22
I agree - the perfect activation ranges are still an open question to me. There is a tradeoff between the activation ranges not being available where you'd want/expect them, and refactorings showing up when they are clearly not intended at that position.

Currently the default is the full AST match, but that quickly gets tricky in particular for nested functions. However, for e.g. the "move intial

[2022-06-03 09:16] #22 closed

[2022-06-04 07:41] lgrammel commented on #18
`v1.112.0` now has a "replace with existing variable" refactoring that can be invoked on an expression. If there is a variable with the same expression, the expression will be replaced with the variable.

@hediet you said this would be a "second step after extracting a constant", which indicates to me that extract constant did not work as expected. The P42 extract constant should already extract a

[2022-06-05 10:42] hediet commented on #18
Oh, I was not aware of this. I used the typescript one, as it was suggested first I think.
I really recommend hiding the obsolete typescript refactorings by default (and adding a setting to show them again)!

[2022-06-05 11:02] lgrammel commented on #18
I agree, you convinced me this is the best way to proceed.

The typescript `extract const` refactoring is not fully replaced by the JavaScript Assistant yet, I need to add an option to extract a single occurrence and to determine the target scope.

[2022-06-06 13:21] lgrammel commented on #20
Fixed in `v1.112.3` for add / remove braces to arrow functions. The refactoring from the typescript language service is now hidden, except on web (because typescript does not support plugins on web yet). Thanks for the bug report!

[2022-06-10 21:05] OliverJAsh commented on #20
Is there a way to disable this? I have the following keyboard shortcuts setup to use these built-in refactorings and they no longer work:

[code]

<img width="626" alt="image" src="https://user-images.githubusercontent.com/921609/173151008-add21692-76cd-4e43-99c2-b89bc726131f.png">

Alternatively, is it possible to update my keyboard shortcuts to use the refactorings provided by this extension?

[2022-06-10 22:01] lgrammel commented on #20
@OliverJAsh thanks for the bug report! Right now, both options are unfortunately not possible. I'll look into adding a setting for disabling the ts code action hiding, and also expose each refactoring with a specific kind, so it can be mapped to a shortcut.

[2022-06-11 08:06] lgrammel commented on #20
@OliverJAsh I've just released `v1.115.1`. Starting with that version, you can assign keyboard shortcuts to the matching code actions from the JavaScript Assistant:
[code]

Adding a setting to enable/disable the overlapping typescript refactorings and making this an opt-in experience (because it can affect the current setup) will come in a future release.

Thanks for reporting the issue!

[2022-06-12 09:56] hediet opened #24 "Refactoring Idea: new Array<T> to :T[] = [];"
[code]
<->
[code]

The second one is faster (by 5-10%).

[2022-06-12 13:42] hediet opened #25 "Idea: Support Renaming Unresolved Variables"
After copy&pasting, I ended up with this code:

[code]

Now I would like to replace `l` with `this`.
This is not very easy to do.

It would be awesome if I could rename `l` to `this`.

[2022-06-12 14:12] lgrammel commented on #25
Thanks for the suggestion! I'll think about how to best resolve this with a single refactoring.

It's already fairly easy to do with a combo:
1. extract `l`
2. change it's value
3. inline `l`

![example-20220612](https://user-images.githubusercontent.com/205036/173237344-dd587bd4-047d-469d-8765-a06622de8abf.gif)

[2022-06-12 14:14] lgrammel commented on #24
Thanks, great suggestion!

[2022-06-13 10:56] lgrammel commented on #25
I thought more about this and evaluated various ways of achieving this. It turns out you can easily achieve this by using multiple cursors:

1. select "l"
2. start multiple cursors with ⇧⌘L
3. change to `this`
4. end multiple cursors with Esc

Since there is a pretty elegant built-in solution, I'm wondering how P42 could improve on this.

[2022-06-13 16:11] lgrammel commented on #25
Ah, right. One idea I have is a `replace expression` code assist where you could select an expression, invoke the action, and then all it's occurrences would be replaced with a text that you'd enter in a text box. Would that be closer to what you imagine?

[2022-06-14 07:29] hediet commented on #25
That would be cool!

[2022-06-14 12:13] lgrammel commented on #25
I've added a "Select expression occurrences" code action in `v1.117.0`. When you select an expression (selection boundaries must match expression), you can invoke the P42 action menu and start a multi-cursor selection on all occurrences:

![action-select-expression-occurrences](https://user-images.githubusercontent.com/205036/173574154-187dbc52-f83b-4acc-8f28-adf5320731e6.gif)

This is different f

[2022-06-14 12:13] #25 closed

[2022-06-15 11:02] hediet opened #26 "Inline Const Not Available"
![image](https://user-images.githubusercontent.com/2931520/173812249-72a0a322-0c29-4921-9e09-d8ff9ca4b52f.png)

[2022-06-15 11:08] lgrammel commented on #26
Thanks for the bug report! This is most likely hard to reproduce without more context. Is there a larger code snippet (e.g. the whole function) that you could share?

[2022-06-15 14:15] hediet opened #27 "Convert to map has issues with the ... operator"
[code]

Convert to map ->

[code]

🐛

There is also flatMap!

[2022-06-15 14:16] hediet commented on #26
I completely changed that function unfortunately.

[2022-06-15 14:16] #26 closed

[2022-06-15 15:06] lgrammel commented on #27
Thanks for the bug report! I've released `v1.117.2`, which fixes this issue.

How would you use `flatMap` here ideally?

[2022-06-15 19:13] hediet opened #28 "Code Action Idea: Reorder If/Else Branches"
[code]
(| cursor)

-- Move Item Up ->
[code]

Could use the same shortcut for reordering parameters/members etc.

[2022-06-15 19:15] hediet commented on #27
[code]

[2022-06-16 06:36] lgrammel commented on #28
Great idea! I'm thinking about introducing a "move" class of refactorings for reordering and moving parts of the code without changing it. This could fall into that category.

[2022-06-16 10:57] lgrammel commented on #20
@OliverJAsh I've released `v1.118.0` which allows you to choose what code assists are shown when there is an overlap:

![image](https://user-images.githubusercontent.com/205036/174055412-b8c205f4-2219-4ca7-8b65-dbee8a827495.png)

I've chosen the opt-out solution, i.e. P42 deactivates overlapping TS code actions by default, to provide a good user experience out of the box for most users.

[2022-06-16 10:57] #20 closed

[2022-06-16 16:08] hediet opened #29 "Code Action Idea: Fix Missing Parameter From Context"
[code]

![image](https://user-images.githubusercontent.com/2931520/174115978-fb0c3c2c-a489-4c93-86b6-1b9b839458df.png)

Cursor is on the squiggles.

------

## - Use missing argument from context ->

[code]

## - Use missing argument from parameter ->

[code]

[2022-06-16 16:20] hediet commented on #29
Resharper has an entire Wizard for this.
When you use "Introduce parameter", it will go through all callers an offers options to fix those.

Basically, these are the resolution options:
* For functions and methods: Use/Introduce parameter (and go to callers of this method when a new parameter has been added)
* For classes: Use/Introduce field (and go to callers of the constructor when a new constr

[2022-06-16 17:30] lgrammel commented on #29
Wow, thanks for this awesome writeup! "Introduce parameter" is one of the refactorings I was thinking about :)

Just for me to understand your flow better (because the title says "Fix missing argument"), would you primarily need to

- just fix missing argument issues
- or run an "introduce parameter" refactoring on a function/method/constructor
- or both?

[2022-06-16 18:13] hediet commented on #29
I would use this for both. If this recorder tool existed, I could show you exactly what I did and in which way automatisation would have helped me! (and how much time I spent on doing it manually)

[2022-06-17 13:33] hediet commented on #29
Another code example where it would have saved me some seconds:

![image](https://user-images.githubusercontent.com/2931520/174308279-8cbb9999-8959-4634-8fcf-69fb82b2ad17.png)

This feature could find all three missing arguments from the context.

[2022-06-19 14:41] hediet commented on #29
My prototype works nicely:
![](https://i.stack.imgur.com/QUCMs.gif)

It is a ts server plugin and heavily uses type checking.

[2022-06-19 15:35] lgrammel commented on #29
This is pretty cool!

P42 is currently limited to type information from a single file for performance reasons - I would need to extend the architecture to be able to get type information that's comparable to what the TS service offers. Do you know if there is a way to access the TS type information from other extensions?

[2022-06-22 13:45] hediet opened #30 "Too Agressive Add {...} to arrow function"
![image](https://user-images.githubusercontent.com/2931520/175044493-250a77b0-177e-4191-ad2a-bc825be3e931.png)

[2022-06-22 14:14] lgrammel commented on #30
Thanks for the bug report!

I'm trying to understand what the bug is here. Add to arrow function should be availalbe, as it seems to be a legit code action, and it does not seem to be suggested.

Are you looking for a better activation range? Or is it about the action showing up as a quick-fix?

[2022-06-22 15:12] lgrammel commented on #30
That makes total sense. I'm thinking about having 2 levels of activation:
* quick fix on the function head and the arrow and the space after, i.e., on `() => ` here.
* code action (refactoring menu, convert menu) on the function it is now
Would this option work for you?

[2022-06-22 17:38] lgrammel commented on #30
I've tweaked the activation ranges for 'add/remove {}' in `v1.120.2`. Thanks for the feedback!

[2022-06-22 17:38] #30 closed

[2022-06-24 10:17] lgrammel commented on #27
I've added `.flatMap` conversion in `v1.120.3` (available when there is a spread element). Thanks for the idea!

[2022-06-24 10:17] #27 closed

[2022-06-24 20:50] Spongman opened #31 "UI is empty"
![image](https://user-images.githubusercontent.com/1088194/175665177-b628d833-1906-4a18-b17e-b57c336eec2a.png)

the count changes when i open different .js files, but nothing shows in the UI.

[2022-06-25 01:53] Spongman commented on #31
i see this in the vscode devtools console log:
[code]

[2022-06-25 03:13] lgrammel commented on #31
Thanks for the bug report!

The following information would help me reproduce the issue:

- What is your VS Code version?
- What is your P42 version?
- What environment are you using (github.dev/vscode.dev/VSCode app)?
- What operating system are you using?

[2022-06-27 16:08] Spongman commented on #31
restarting vscode fixed it.

[2022-06-27 17:43] lgrammel commented on #31
I'm glad it works now! If it re-appears, feel free to re-open the issue. Thanks!

[2022-06-27 17:43] #31 closed

[2022-06-30 10:34] hediet opened #32 "Provide a good story for string literal <-> template strings conversion"
I usually start with a string literal (`"hello world"`) and later want to convert it to `` `hello ${name}` ``.

While the code actions are nice, I think the story can be improved.

I'm thinking of automatic conversion from a normal string to a template string once the user types the first `${}`, and the opposite direction once the users removes the last `${}`.

Also, the conversion code action sho

[2022-06-30 11:22] lgrammel commented on #32
That's a brilliant idea, I want that feature! I'll look into implementing it in the coming weeks.

[2022-07-01 10:36] hediet opened #33 "Cursor jumps after refactoring"
Consider diffing for more precise edits.

![recording](https://user-images.githubusercontent.com/2931520/176878678-1ef6651b-f6a1-4f4f-9486-a045aabdb4b9.gif)

[2022-07-01 15:24] lgrammel commented on #33
Thanks for the bug report! I'll take a look - it seems the text the cursor was originally at got removed in this case. Do you know how VSCode updates the position on edits? In a lot of cases it seems to just work (as in, the cursor remains at the same position).

[2022-07-02 18:49] hediet opened #34 "Refactor Idea: Factor out common substring"
[code]
->
[code]

[2022-07-03 09:14] hediet commented on #33
It works when the edit does not touch the cursor. Otherwise, the cursor will be placed at the boundaries.

I doubt this will be useful for you though.

I recommend you to explicitly set the cursor after sending the edit.

[2022-07-03 19:13] lgrammel commented on #33
Thanks! Moving the cursor seems like a good approach, agreed.

[2022-07-04 10:22] aghArdeshir opened #35 "Bug report: Comment node is removed after "Extract to function in module scope""
Hi. When I refactor a callback in my JSX, which does something rather complicated, one of my comments are removed.

Code example:
[code]

Try refactoring the whole callback into a function in module scope.

One:
![image](https://user-images.githubusercontent.com/5755214/177135098-c76a6af8-9176-41ce-9f19-c175ee968f82.png)

Two:
![image](https://user-images.githubusercontent.com/5755214/177135147-f7

[2022-07-04 10:30] aghArdeshir opened #36 "Refactor idea:"

[2022-07-04 10:50] aghArdeshir opened #37 "Refactor idea: Refactor function to module scope, but preserve the function itself (with/out arguments)"
Hi. Sometimes I use P42 for refactoring callbacks, so the code would be cleaner, but I always have to make a manual refactor to make it more performant. I want my callbacks to be preserved (instead of me

Initial:
![image](https://user-images.githubusercontent.com/5755214/177139148-bd39dd27-3023-4899-bfc5-ba8ee6061fdc.png)

Result:
![image](https://user-images.githubusercontent.com/5755214/1771391

[2022-07-04 10:50] #36 closed

[2022-07-04 11:12] lgrammel commented on #35
Hi @aghArdeshir,

thanks for the bug report. It looks like the refactoring "Extract to function in module scope" comes with VS Code (built-in), not P42. P42 refactorings have a '[P42]' at the end of the action label in the context menu. If this is a P42 refactoring, please re-open the issue.

Best, Lars

[2022-07-04 11:12] #35 closed

[2022-07-04 11:24] aghArdeshir commented on #35
Oops! :face_with_head_bandage: Why I didn't notice it!

[2022-07-04 11:26] lgrammel commented on #35
Haha it's pretty easy to miss - you're not the first one.

[2022-07-05 07:49] lgrammel commented on #24
I've just released `v1.121.0`, which adds this refactoring. Thanks for the idea!

![action-convert-new-array-to-array-literal](https://user-images.githubusercontent.com/205036/177277209-2b62bffe-0b7f-4e8c-a8c7-ef4198576873.gif)

[2022-07-05 07:49] #24 closed

[2022-07-05 08:00] lgrammel commented on #34
This will most likely require a sequence of refactoring steps.

The outcome could be:
[code]

[2022-07-05 08:23] aghArdeshir commented on #37
Yup. Sorry :+1:
THat makes sense

[2022-07-05 08:23] #37 closed

[2022-07-06 08:36] lgrammel commented on #33
I have trouble reproducing this bug with P42 `v1.121.2` and VS Code `v1.68.1`. Which VS Code version are you using?

https://user-images.githubusercontent.com/205036/177507251-7271f343-7d9b-4f06-a720-9e5df2d139c9.mov

One of the things that could be causing this is that P42 sometimes produces larger-than-needed edits. I'll add a edit minimizer soon, this should potentially deal with some of this,

[2022-07-06 08:45] lixiaoyan opened #38 "Do not suggest destruction on optional chaining."
[code]

should not change to

[code]

[2022-07-06 09:58] #38 closed

[2022-07-12 11:15] lgrammel commented on #33
I've tried this again with VS Code `1.69` and P42 `v1.124.0` (which minimizes edits). I can't reproduce the bug for this combination. Please re-open if you still run into it.

[2022-07-12 11:15] #33 closed

[2022-07-12 11:17] #18 closed

[2022-07-12 12:57] lgrammel commented on #32
A first improvement is coming in `v1.125.0` - the cursor should not move any more when applying the "convert string to template literal" and "convert template literal to string" code actions.

[2022-07-12 18:19] hediet opened #39 "Refactoring Idea: To/From Ternary"
[code]

=>

[code]

Context:
[code]

[2022-07-13 08:12] lgrammel commented on #39
Thanks for the suggestion and the great bug report, made it really easy to reproduce it!

P42 currently already supports this as a 2-step refactoring:
1. Convert to conditional expression
2. Merge initialization and declaration

https://user-images.githubusercontent.com/205036/178684186-6eea111d-f0ea-48d3-9860-0625fef1c0a2.mov

There seems to be a small bug where the `// Insertion` comment gets lo

[2022-07-14 22:15] hediet commented on #39
I think I somehow missed that action.

[2022-07-14 22:15] #39 closed

[2022-07-27 08:54] hediet opened #40 "Refactor Idea: Convert React Class Component to/from Function Component"
[code]
<->
[code]

[2022-07-27 14:34] lgrammel commented on #28
I've introduced a "swap if-else-if branches" refactoring in P42 `v1.131.0`:

![action-swap-if-else-if-branches](https://user-images.githubusercontent.com/205036/181273817-4bdca21c-4984-49a2-9061-5ca5f4cd4250.gif)

Thanks again for hte refactoring idea!

[2022-07-27 14:37] lgrammel commented on #40
Thanks for the refactoring idea!

[2022-07-27 15:05] hediet commented on #28
Nice work!

What does swap branches do exactly though?

I think a reactoring "move branch up" and "move branch down" would be more intuitive...

[2022-07-27 16:00] hediet commented on #28
This I don't understand. Why not move down/up here too?

[2022-07-27 16:49] hediet opened #41 "Refactor Idea: Move Up / Down Braces to Extend Scope"
Move Brace:
[code]

⟦}⟧ being selected.

--- Move down --->

[code]

---

This should not be confused with move statement up/down:

[code]

--- Move Down --->

[code]

[2022-07-27 16:59] lgrammel commented on #28
My current interpretation is that when you are on the "else", you are not on an if element, so it is not clear what you would move "down". But this might be too technical of a notion (based on the AST). I'll think a bit more about this - I agree that having an intuitive and unified system is desirable.

[2022-07-27 17:00] hediet opened #42 "Move Up/Down Code Actions"
Personally, I think generic Up/Down Move Code Actions are extremely useful.
There should be two clever commands: Move Up and Move Down. Dependening on the selection and context, they do "the right". Because there are only two, they should have good keybindings.

Here is an (incomplete) collection of what they would enable:

* [ ] Move Statements / Declarations
* [ ] Move Class Members
* [ ] Move A

[2022-07-27 17:05] hediet commented on #28
I wouldn't distinguish between `el|se if` and `else i|f`.

I wonder what `swap` would do on the last `else` in start3?
Personally, I find the description "Move branch 3" up easier than "Swap branch 3 (with branch 2)".

[2022-07-27 17:06] lgrammel commented on #42
Great idea, thanks for the writeup!

Regarding one command: I'd much rather leverage grouping through code action kind prefixes and have individual code actions - this gives users more flexibility configuring their keyboard shortcuts without losing anything ( see https://p42.ai/documentation/p42-for-vscode/editor-integration#keyboard-shortcuts for some examples).

Code action kind prefixes could b

[2022-07-27 17:08] hediet commented on #42
Maybe it makes sense to distinguish them, but I think discoverability is much more important than precision for refactorings.

ReSharper has one unified move down/up system, and it works flawlessly.

[2022-07-27 17:11] lgrammel commented on #28
This is the current implementation:

Start 4:
[code]

Start 4 --- Swap -->

[code]

One challenge is the action label - to distinguish the branches in the action label, I could include e.g. the condition, but this will lead to issues with long conditions.

[2022-07-27 17:15] lgrammel commented on #42
I don't understand how this would impact discoverability. There would be a single shortcut for "move up" and a single shortcut for "move down". The additional flexibility is just in case a user wants it, and there have to be separate implementations anyways because there are different matchers, transformations, safety evaluations, etc.

[2022-07-27 17:17] hediet commented on #28
I think swap is also a more mentally complex operation: "Swap" exchanges the upper element with the lower element - so mentally, you have to think about both elements.

However, "move up" focuses only on the current element.

Effectively, they would do the same though.

[2022-07-27 17:19] hediet commented on #42
Then you would need to use many context keys to compute upfront which of those "move up" commands wins effectively. Alternatively you would need a single dispatching move-up and move-down command (which would also enable changing the keybinding for all move commands at the same time).

[2022-07-27 17:19] lgrammel commented on #28
Yeah, I agree that's a good point. My main concern is the ambiguity of what up/down means for the space in between two elements. I'll think about it - for e.g. statements up/down is the best option for sure, and for if/else I could add it as well with different activation zones. I'll re-open this issue to keep track of it.

[2022-07-27 17:20] hediet commented on #28
Ask some users what they would expect to happen with move up/down when the cursor is on the else branch.

[2022-07-27 17:24] lgrammel commented on #42
Maybe, but it could also depend on the activation ranges etc. I'll probably stick with the current system for now, since I have singnificant tooling around, and will see how far I get. I can always implement some prioritization algorithm when there is a need for it.

[2022-08-03 11:57] lgrammel commented on #28
I changed the refactoring to move up / move down:

![action-move-if-else-if-branches](https://user-images.githubusercontent.com/205036/182602063-57aff039-a5f9-40e2-a115-9e95a4fc1d94.gif)

Available in `v1.132.0`

[2022-08-03 11:57] #28 closed

[2022-08-03 11:58] lgrammel commented on #42
Move statements is available in `v1.132.0`:

![action-move-statement](https://user-images.githubusercontent.com/205036/182602319-24772006-791e-4f77-a970-af8e6758e563.gif)

Let me know what you think about the current keyboard shortcut setup or if you run into any bugs.

[2022-08-03 12:12] hediet commented on #42
That is very cool! When invoking the shortcut, I wouldn't expect the context menu though.

[2022-08-03 12:43] lgrammel commented on #42
Yeah - I agree. I'm still trying to figure out how to best deal with the following 2 constraints:
* sometimes there are overlapping move refactorings (e.g. move stmt & move if-else-branch) for the same activation range. Could be solved by
   * prioritization algorithm - but e.g. it is unclear to me how move down branch from an if-statement would work in this case
   * showing the menu only when th

[2022-08-03 15:27] hediet commented on #42
In general, I would expect move commands to be non-safe, so safety information is not very helpful for me for this code action.

[2022-08-03 16:14] lgrammel commented on #42
I think some conflicts will be unavoidable if there is only up/down (e.g. move if branches conflicts with move statement). I'll introduce move left/right in addition to move up/down.

**Move up/down**
* Move Statements / Declarations
* Move Class Members
* Move JSX elements
* Move Case-Branches in Switch Statements
* TypeScript: move interface members, move type members, re-order union types, etc.

[2022-08-03 17:29] lgrammel commented on #42
The keyboard shortcuts directly execute (when there is only 1 option for now) starting with `v1.132.2`:

![2022-08-03-move-1](https://user-images.githubusercontent.com/205036/182671823-628aa722-e73b-4b6b-875d-3cb53c6c16ec.gif)

[2022-08-03 21:55] serchserch commented on #42
Hi! how can I disable it? ctrl+alt+up/down is a very usefull hotkey to move code lines in any file type but now I'm getting this message when I press this commbination in files differt to *.ts *.js

![image](https://user-images.githubusercontent.com/2801648/182719161-0b5acfdc-87c1-43ff-a73b-db90861cdd41.png)

[2022-08-04 07:02] lgrammel commented on #42
@serchserch you can disable it in the keyboard shortcuts panel when you record the "ctrl+alt+up+ keybinding:

Command Bar: `>Preferences: Open Keyboard Shortcuts`

![image](https://user-images.githubusercontent.com/205036/182783985-c3fd589a-ad9b-4471-8b7f-f33f0b4e0618.png)

![image](https://user-images.githubusercontent.com/205036/182784105-565c0417-855c-4f88-8f1f-2074f1410a44.png)

Thanks for the

[2022-08-04 07:32] lgrammel commented on #42
@serchserch I've released `v1.132.3`, which limits keyboard shortcuts to supported files. Please let me know in case the JavaScript assistant still provides keyboard shortcuts for unsupported files.

[2022-08-04 08:03] hediet commented on #42
This is a good point - can you just move lines up/down in case there is no applicable refactoring?

[2022-08-04 13:38] lgrammel commented on #42
Interesting idea - I'll think about it. My concern is that is might be confusing for the users and that they would often have another shortcut for this. I'll wait until the whole move system is further along to see if it would fit in naturally.

[2022-08-04 13:39] lgrammel commented on #42
`v1.133.0` supports moving JSX attributes:

![action-move-jsx-attribute](https://user-images.githubusercontent.com/205036/182861168-c6d2303d-e56d-4094-a3e0-2e0c4fd39026.gif)

[2022-08-04 15:04] hediet commented on #42
I think for Windows, shift+alt+{up, down, left, right} might be better.
Ctrl+Alt+... is already used for multi-cursor and is quite important.

[2022-08-04 15:26] hediet opened #43 "Move Up / Down Is Not Inverse"
![recording](https://user-images.githubusercontent.com/2931520/182885697-afb740ba-86b7-41d1-9f10-640a8267ae67.gif)

[2022-08-04 15:28] hediet opened #44 "Move In"
[code]

->

[code]

[2022-08-04 15:48] lgrammel commented on #42
Thanks for letting me know - definitely need to change this for windows. [Unfortunately "shift + alt + {direction}" is already taken as well on windows](https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf), and "ctrl + shift" is a standard for extending selections afaik.

Would "win + alt + {direction}" work for you? (I did not find that shortcut in the list)

[2022-08-04 15:51] lgrammel commented on #43
This looks like a whitespace issue, or am I missing something? (just confirming that I understand this correctly)

[2022-08-04 15:52] lgrammel commented on #44
There is I think a more general move in / move out class in addition to left/right/up/down. I'll probably have a separate shortcut for this, possibly a modification of move up / down (adding another modifier key).

[2022-08-05 06:54] hediet commented on #43
Yes, there is more and more whitespace.

[2022-08-05 06:55] hediet commented on #42
I think duplicating lines up and down is probably not used by many, so I think it should be okay to overwrite that.

[2022-08-05 07:18] lgrammel commented on #42
Is there any downside to the `win + alt + {direction}` option that I'm missing? I'd rather not mess with any built-in shortcuts (even tho I agree not many people are likely to use this one).

[2022-08-05 08:29] hediet commented on #42
win + alt + {direction} is already taken by the OS.
I think the "win" modified should be avoided for shortcuts.

[2022-08-05 08:44] lgrammel commented on #42
Hm that makes things more difficult. I wanted to use `shift` as a modifier for lift operations, e.g. in the following situation:
[code]

Shortcut w/o shift: move statement down
[code]

[2022-08-05 11:20] lgrammel commented on #43
I've just released `v1.133.1` which resolves this issue. Please re-open the bug if you still encounter it. Thanks for reporting!

[2022-08-05 11:20] #43 closed

[2022-08-05 16:54] lgrammel commented on #42
`v1.134.0` supports moving array elements:

![action-move-array-element](https://user-images.githubusercontent.com/205036/183124731-dc3db28d-a601-4bc4-b559-94ebe05b49ee.gif)

[2022-08-06 10:25] lgrammel commented on #42
`v1.135.0` support moving object properties:

![action-move-object-property](https://user-images.githubusercontent.com/205036/183244995-2c0e4a8f-dedd-4510-a74e-284ed30dd635.gif)

[2022-08-07 19:40] lgrammel commented on #42
`v1.136` supports moving class members:
![action-move-class-member](https://user-images.githubusercontent.com/205036/183308195-43b180d1-50eb-4739-a96e-0d50a10bac03.gif)

[2022-08-07 20:42] hediet commented on #42
Nice work!!

Top level declarations would also be super nice, as I often reorder classes to clean-up code.

[2022-08-08 07:28] lgrammel commented on #42
Thanks! Top-level declarations should be moveable in `v1.136.1` - are there any cases where it does not work?

[2022-08-08 07:59] hediet commented on #42
Nice, it works perfectly!

[2022-08-08 08:28] hediet commented on #42
Would you be able to track the text ranges before/after the move of the moved element?
Maybe we can do a cool animation

[2022-08-08 08:51] lgrammel commented on #42
An animation would be cool - can VS Code do that?

Yes, the edit ranges and the selection ranges are used in the code action already.

[2022-08-08 12:12] hediet commented on #42
Not yet, but this would be a great use-case to expose that functionality to extension authors.
There is something internal that could be enhanced a bit to make it work.

[2022-08-08 12:23] lgrammel commented on #42
Would love to try it, for move refactorings this could be very useful to help the user understand what's going on.

Probably the animations would need to be able to turned off for power users (animations can easily slow down the user interactions, I almost always disable them when I can).

[2022-08-08 12:46] hediet commented on #42
Btw. you should reveal the location for the moved source. For large classes the moved text just disappears.

[2022-08-08 16:07] lgrammel commented on #42
Thanks for letting me know - I just shipped `v1.137.0`, which reveals the (moved) text selection / cursor and adds "move switch case":
![action-move-switch-case](https://user-images.githubusercontent.com/205036/183462921-3dd3b6af-586d-454f-a1b9-119bbbb2ee7f.gif)

[2022-08-09 18:37] lgrammel commented on #42
`v1.138.0` supports moving variable declarations:
![action-move-variable-declaration](https://user-images.githubusercontent.com/205036/183735810-27e43e20-aeb2-4c59-9584-15d0c4f1c29c.gif)

[2022-08-10 09:39] lgrammel commented on #42
`v1.139.0` supports moving array elements in destructuring expressions:
![action-move-destructured-array-element](https://user-images.githubusercontent.com/205036/183869551-7cabaacf-5ace-4b0f-afa2-30c32f1089a7.gif)

[2022-08-10 11:50] hediet commented on #42
For now, you could use a decoration to highlight the target location for a short period of time.

[2022-08-10 12:09] lgrammel commented on #42
I'll hold off on the animation / decoration for now - while it might look cool at first glance and could make for good demos, I found that animations in areas of direct user interaction tend to get into the way in practice more often than not (e.g. by slowing the user down). When there is some built-in VSCode API that I can leverage I might look into prototyping / revisiting this.

[2022-08-10 12:37] hediet commented on #42
I would only show the decoration for the location where the code moved to, for about 300ms. Maybe you can even do some tricks with `` backgroundColor: `red; transition: all 0.5s ease-out ``, to get a nice fade out, but I don't know.

I don't think this animation will be annoying, it should be very subtle. But it will help to see where the text moved to.

[2022-08-10 13:03] lgrammel commented on #42
Quick preview:

https://user-images.githubusercontent.com/205036/183908024-1de7f43f-783b-4820-8838-00680f484e4a.mov

This looks nice, will clean it up and include it in the next release.

[2022-08-10 14:09] lgrammel commented on #42
`v1.139.1`:

![2022-08-10-move-3](https://user-images.githubusercontent.com/205036/183922525-625ee505-6467-41ba-9934-bfa7a3e8d6d3.gif)

Thanks for the sugestion! Animations might have potential for other refactorings such as extract or inline as well.

[2022-08-11 12:48] lgrammel commented on #42
Move object property in destructuring (`v1.140.0`):
![action-move-destructured-object-property](https://user-images.githubusercontent.com/205036/184136698-1b7ce861-f301-4210-8e70-4e0bdd2801f7.gif)

[2022-08-11 15:59] hediet commented on #42
Very nice!

[2022-08-12 14:32] hediet opened #45 "Refactor Idea: Replace usages with const declaration"
Replace usages with const declaration, when the cursor is at the const declaration.

![image](https://user-images.githubusercontent.com/2931520/184376056-aa7c760e-3d1e-4fb6-bbae-d12cdc8e55a7.png)

[2022-08-12 14:41] lgrammel commented on #45
Nice idea! For my understanding, how would this be different from [inline variable](https://p42.ai/documentation/code-assist/inline-variable)?

[2022-08-12 14:54] hediet commented on #45
It is the opposite direction: I want to replace all duplicate expressions with the const at the cursor.

[2022-08-12 14:59] lgrammel commented on #45
Ah I see, this would be useful!

In the meantime, you can achieve the same by combining the following refactorings:
1. Extract the right hand side of the const into a new variable (here: `top + height - checkBoxHeight - margin`)
2. Inline the original const (here: `bottomBoundary`)
3. Rename the new variable to the name of the original const (here: to `bottomBoundary`)

[2022-08-13 11:43] lgrammel commented on #42
`v1.141` switches to "shift+alt+direction" on Windows/Linux.

[2022-08-16 12:26] hediet opened #46 "Don't rebind Alt+Up/Down"
![image](https://user-images.githubusercontent.com/2931520/184879111-ac7f1c0f-85fc-4406-9a7b-f1caef01c606.png)

[2022-08-16 13:18] #46 closed

[2022-08-17 13:20] lgrammel commented on #42
`v1.142` simplifies the shortcuts:

| Action | Type | Mac Shortcut | Windows/Linux Shortcut | Code Assists |
| ----------| --- | ------------ | ------------ | --- |
| **Move** | *context menu* | <kbd>CTRL</kbd> + <kbd>CMD</kbd> + <kbd>M</kbd> | <kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>M</kbd> | [17 code assists](https://p42.ai/documentation/code-assist-list/keyboard-shortcut/refactor.move)
| **Move

[2022-08-18 22:05] gregveres opened #47 "Smart extend keyboard short cut conflicts with default Move Line Up/Move Line Down"
I am not sure if you noticed, but by default, Move Line Up is bound to Alt + UpArrow and Move Line Down is bound to Alt + DownArrow.

Given how incredibly useful Move Line Up/Down are, I would expect that everyone would be complaining that p42 just installed a conflicting set of keyboard bindings.

I am removing the bindings that p42 added. I am sure there is a better set of keys to bind the smart

[2022-08-19 06:53] lgrammel commented on #47
@gregveres thanks for the bug report! I agree, this should not happen - will put out a fix soon.

[2022-08-19 07:41] lgrammel commented on #47
I've released `v1.142.2`, which removes the smart selection keybindings. Thanks again for the bug report!

[2022-08-19 07:41] #47 closed

[2022-08-21 15:42] lgrammel commented on #42
Move nested if statements in `v1.143`:
![action-move-nested-if](https://user-images.githubusercontent.com/205036/185799123-ef98ce6b-1193-499e-8f34-aa8554930e16.gif)

[2022-08-25 10:05] hediet opened #48 "Swapping if/else does not work"
I thought this used to work:

![recording](https://user-images.githubusercontent.com/2931520/186636989-61a57db8-bc0b-4826-a438-261413c356ef.gif)

But it does not swap the branches.

If this is a who-wins thing, I would definitely expect the if branch to move when the cursor is on the if or else.

[2022-08-25 10:24] lgrammel commented on #48
Yes, it used to. However, I found it hard to remember when to use left/right vs up/down, and there were conflicts with existing shortcuts (expand/shrink selection). Therefore I've changed most move actions to up/down and removed left/right. In cases where there is a conflict (here: move statement vs move if branch), the less common action (here: move if branch) is only accessible through the move

[2022-08-25 11:06] hediet commented on #48
Just removed them.

I like that!

I would use anchors to distinguish between these cases.
E.g. when the cursor is no the `else` or `if`, it should swap branches. Otherwise the statement.

[2022-08-25 11:23] lgrammel commented on #48
I was thinking the same and first prototyped enabling move up/down from the `else` keyword. That leads to issues with the inverse action, so really the branch switch also needs to be activated on the `if` as well. However, this conflicts with move statement, because you can move all other statements at the beginning of the statement. I'm sure there are ways around it with different activation rang

[2022-08-25 12:02] hediet commented on #48
Fair points. What about using the if/else-if condition as anchor?

[2022-08-25 12:08] lgrammel commented on #48
That could work - re-opening the issue. The one conflict I could see is with `Move expression in homogenous condition (a && |b && c -> |b && a && c) (note: overlap/replacement of 'flip operator')`, so I'll wait until that is available and then I'll experiment to see how activating on the condition would work.

[2022-08-29 09:15] hediet opened #49 "Support Moving Up / Down Multiple Items At Once"
E.g. when all this is selected and I press control+down:

![image](https://user-images.githubusercontent.com/2931520/187167639-8e02d2ac-1e71-4325-8538-0c2eb5de8a64.png)

[2022-08-29 09:30] lgrammel commented on #49
Thanks, this is a great suggestion!

[2022-08-30 12:19] hediet opened #50 "Convert To Ternary"
[code]
=>
[code]

[2022-09-01 14:35] hediet opened #51 "To Arrow Anchor Point"
![image](https://user-images.githubusercontent.com/2931520/187940127-c73d3528-c604-4638-84f7-601bc17f94f8.png)

Wasn't the "Remove {...} from arrow function" action suggested here once?

[2022-09-01 14:47] lgrammel commented on #51
Thanks, I'll take a look!

[2022-09-02 08:01] lgrammel commented on #49
I've added this feature for most move statements in `v1.147.0`. When there is a selection that spans several elements (can be partial) and move gets started, it moves multiple code elements.

[2022-09-02 08:01] #49 closed

[2022-09-02 09:24] lgrammel commented on #51
It is available as a regular code action (convert), but not as a quickfix at that position. Were you expecting a quickfix (I could increase the quickfix range)?

[2022-09-02 10:19] hediet commented on #51
Yep, was expecting a quick fix there

[2022-09-02 10:26] lgrammel commented on #51
Cool, will change it in the next update. Btw, if you want to add/remove braces even faster, you can try the `toggle braces` shortcut (`Ctrl + Alt + B` on Windows).

[2022-09-02 10:42] hediet commented on #51
I already use quite a few shortcuts and would be happy if I could remember the one for organize imports...

[2022-09-02 12:45] lgrammel commented on #51
I have trouble with that one as well for some reason.

"Remove braces from arrow function" is available as quick fix on the "return" keyword starting with `v1.147.1` - thanks for the suggestion!

[2022-09-02 12:45] #51 closed

[2022-09-05 03:31] AlexXanderGrib opened #52 "`You can remove the IIFE` is unsafe"
Code:
[code]

p42 suggests to remove IIFE and deems it safe. Result:

[code]

[2022-09-05 06:47] lgrammel commented on #52
Thanks for the bug report!

Starting in `v1.147.2`, remove IIFE is not available any more when there are self-references to the function. Please re-open if the bug still occurs.

[2022-09-05 06:47] #52 closed

[2022-09-07 08:23] AndreaPontrandolfo opened #53 "Let the user disable the custom keybindings in the extension config options"
Hi, is there a way to completely disable all of the extension custom keybindings, for people that don't want them?
I noticed that some of these keybindings directly conflicts with the native VScode keybindings and i don't want to deal with this. This might be a dealbreaker for most people.

[2022-09-07 08:33] lgrammel commented on #53
Thanks for letting me know!

Which OS are you using and which keybindings are conflicting with which native keybinding?

You can disable the keybinding in the keyboard shortcuts UI (search for `codeAction`), or by adding the following exclusions to `keybindings.json`:
[code]

[2022-09-07 08:48] AndreaPontrandolfo commented on #53
OS: Windows 10 Pro
Conflicting keybindings: ALT + SHIFT + arrows (both UP and DOWN)

[2022-09-07 08:50] lgrammel commented on #53
Thanks - I'll move those to non-conflicting bindings and see if I can refine how the code action menus are being invoked (e.g. through the command palette) for easier reconfiguration.

[2022-09-07 09:12] AndreaPontrandolfo commented on #53
Great, i'll wait for the next release then!

[2022-09-07 09:54] lgrammel commented on #53
I've just released `v1.147.4`, which changes the keyboard shortcuts for move up/down on Windows/Linux to `Ctrl+Alt+U` and `Ctrl+Alt+J`. Thanks again for the bug report!

[2022-09-07 09:54] #53 closed

[2022-09-16 23:20] j4k0xb opened #54 "convert to const in for-of loops"
should also work for
[code]
->
[code]

[2022-09-17 07:48] lgrammel commented on #54
@j4k0xb Thanks for the bug report! I've just released `v1.150.3`, which fixes this bug. Please re-open this issue if you still encounter the issue in `v1.150.3` or higher.

[2022-09-17 07:48] #54 closed

[2022-10-04 07:52] Lippiece opened #55 "Please return the "Move up/down" commands"
I couldn't even find the reason they were removed. I've been using them all the time!

[2022-10-04 08:23] lgrammel commented on #55
In case you have been invoking the commands from a custom keyboard shortcut, the recommended way now is to set up the keyboard shortcut to the code actions directly, e.g.:

[code]

[2022-10-21 18:41] hediet commented on #48
Hmm, it is a bummer that this still does not work:

![Code_-_Insiders_hcGgnz5lPY](https://user-images.githubusercontent.com/2931520/197267059-d5a59885-d1ee-418e-9a74-326180d37fd7.gif)

I would say reordering is the most valuable feature that p42 offers, but it often does not work :(

[2022-10-22 07:32] lgrammel commented on #48
Hey thanks for bringing this to my attention. The functionality is there, but it is currently hidden in the refactor menu. I'll look into a better key mapping this week, now that things have settled a bit around the shortcuts and the code action menu.

[2022-10-22 15:47] lgrammel commented on #48
Check out `v1.157.1` - the move if-else up/down can now be triggered on the condition. Outside of the condition, a regular move statement is triggered (to enable both operations to be easily accessible).

[2022-10-22 15:47] #48 closed

[2022-11-04 11:12] lgrammel commented on #50
Implemented in `v1.162.1` (except for const conversion).

[2022-11-04 11:12] #50 closed

[2022-11-04 16:18] lgrammel commented on #45
Just realized that one variant of the refactoring already exists, you should be able to go over `top + height - checkboxHeight - margin` and use "Replace with existing variable": https://p42.ai/documentation/code-assist/replace-expression-with-existing-variable

[2022-11-06 17:28] chandan192 opened #56 "Issue with convert-if-else-to-conditional-expression"
Hi @lgrammel ,
Hope you are doing well. I got an issue with **convert-if-else-to-conditional-expression**.
![image](https://user-images.githubusercontent.com/36302444/200185647-2538278d-6324-4948-b605-fbb0ccf9343e.png)

After applying the suggestion **convert to conditional expression** which was marked safe
![image](https://user-images.githubusercontent.com/36302444/200185669-4eca6e2a-1741-4ce7-a

[2022-11-07 09:48] lgrammel commented on #56
Hi @chandan192 - thanks for the bug report! I've just released `v1.163.2`, which fixes the issue. Please re-open if you still encounter it in the new version.

[2022-11-07 09:48] #56 closed

[2022-11-07 10:59] doberkofler opened #57 "Wrong code generated by "Convert if-else into conditional expression" using p42 VSCode plugin v1.163.1"
I just noticed in my code that the following code snipped:

[code]

will be wrongly converted by p42 to:

[code]

[2022-11-07 11:22] lgrammel commented on #57
Hi @doberkofler - thanks for the bug report! This issue was fixed in `v1.163.3`. Please try that version and re-open if it still occurs.

Duplicate of #56

[2022-11-07 11:22] #57 closed

[2022-11-14 20:05] Jakub41 opened #58 "Cannot pass the payment process on the select country window"
Hello,

I'm trying to get into the payment process and I'm selecting my location in Denmark and all I see is that

<img width="401" alt="CleanShot 2022-11-14 at 20 58 26@2x" src="https://user-images.githubusercontent.com/8559542/201754787-16579d00-8187-42fa-aa78-33dbb1713e4b.png">

I have an internet connection and I saw if I switch to Italy for example there seems to work.

Why for DK no?

Thank

[2022-11-14 20:15] lgrammel commented on #58
Hi Jakub, thanks for your notification, this is good to know. I'm using Paddle as a Payment provider and I'm not sure why this is happening - presumably it's an issue on their end. I'll close this ticket for now.

[2022-11-14 20:15] #58 closed

[2022-11-14 20:20] lgrammel commented on #58
Awesome - thanks for your support!

[2022-11-18 07:31] Lippiece commented on #55
This was fine while it lasted.

![image](https://user-images.githubusercontent.com/47634624/202646012-975b2c0e-799b-4a85-9e19-460bc8b43033.png)

Is there any easy way to just use the move up and down commands?

[2022-11-18 07:41] lgrammel commented on #55
@Lippiece yes - you can use version `1.165.2`, or even better, the one with the commands (`1.151.0`).

There is also Abracadabra, which offers move statement commands: https://github.com/nicoespeon/abracadabra/blob/main/REFACTORINGS.md#move-statement-up

[2022-11-18 07:41] #55 closed

[2022-11-18 07:44] Lippiece commented on #55
Abracadabra can't move statements half of the times.

So you've just removed this functionality and not going to bring it back, is that correct?

[2022-11-18 07:53] lgrammel commented on #55
The functionality is still there - what you are seeing is a result of the change of the pricing model. Sadly, the freemium model of the P42 JS Assistant extension with a Free and a Pro plan has not been sustainable, and I have bills that I need to pay (I'm working on P42 full time).

Therefore, starting with version 2.0, the P42 JS Assistant extension requires a subscription. The Free plan is no l

[2022-11-18 13:04] chandan192 opened #59 "Remove unused imports/class methods/variables"
Hi @lgrammel ,
This not an issue but a suggestion if we could have support to remove unused imports or unused class variables/methods. We already have support/linting to remove local unused variable.

In typescript we often have to deal with such cases. It will be very much helpful.

![image](https://user-images.githubusercontent.com/36302444/202711148-1c527dbd-ab74-437c-9605-2a23d5e68abd.png)
![i

[2022-11-18 14:24] lgrammel commented on #59
Thanks, this is a good suggestion!

[2022-11-19 08:20] chandan192 commented on #59
@lgrammel ,
Adding one more case ,
![image](https://user-images.githubusercontent.com/36302444/202841776-c2355c72-4460-42a4-aed1-99124226736f.png)

[2022-11-21 11:53] pdcmoreira opened #61 "Unsafe suggestions"
I've just installed this extension and the first suggestion I got raised a huge red flag for me, as it **changes the output** of the function instead of just the syntax.

The suggestion is the following:
<img width="493" alt="image" src="https://user-images.githubusercontent.com/4430606/203043554-19d6a53b-9720-4844-8d9e-6c8c5dbe81aa.png">

But by applying that, changes the behavior of the function

[2022-11-21 12:38] lgrammel commented on #61
@pdcmoreira thanks for your feedback!

I'll add a configuration option to turn off unsafe suggestions in the diagnostics and the side panel.

[2022-11-24 09:47] lgrammel commented on #61
I've just released `v2.5.0` which contains a new configuration option to turn off unsafe suggestions:

![image](https://user-images.githubusercontent.com/205036/203751669-fe8a1b8b-9166-4035-ba78-72f0cc22f38b.png)

Thanks again for the idea!

[2022-11-24 09:47] #61 closed

[2022-11-24 09:53] lgrammel commented on #32
The [Template String Converter](https://marketplace.visualstudio.com/items?itemName=meganrogge.template-string-converter) extension adds this functionality. It's a little bit different from the existing code assists, so I'll not add this to P42 at this point, especially since it's already available in another extension.

[2022-11-24 09:53] #32 closed

[2022-11-24 14:33] onlurking opened #62 "Support for Svelte components"
Currently, the P42 panel in VS Code shows the following message when opening Svelte files:
[code]

Implementing support for Javascript inside `<script>` tags inside Svelte components would be really nice.

[2022-11-29 13:19] lgrammel commented on #42
A quick update on why progress has been slow in the last few months: in order to get this right, I need to handle whitespace and comments differently, which requires some larger changes to the refactoring engine. I've put this on a lower priority for now, since many of the core parts already work, but I hope to get back to it in Q1/23.